<div id='main-screen' style="display: none;">
<p>your login</p>
<p id='emaillogin'>email</p>

<button id='signoutbut'>Sign the fuck out</button>

</div>
<script  src="./assets/js/scripts/Main.js"></script>
